# 출력 - print()

In [ ]:
# "" 혹은 '' 안에 있는 내용을 출력합니다.
print("hello world")

In [ ]:
#@title 기본 제목 텍스트
# \가 앞에 오면 특수 문자로 사용됩니다.
# \n: new line
print("hello world\ngood bye")

In [ ]:
# \t: tab
print("hello world\tgood bye")

In [ ]:
# \": " 출력
print("\"hello world\" good bye")

In [ ]:
# \\ : \ 출력
print("hello world\\good bye")

In [ ]:
# a라는 저장소에 "hello world" 라는 값을 저장하면
# 앞으로 a 가 저장한 "hello world"의 값을 계속 사용할 수 있습니다.
a = "hello world"
print(a)

In [ ]:
# print() 함수 안에서는 , 로 구분하여 여러가지 문자를 출력할 수 있습니다.
a = "hello world"
b = "good bye"
print(a, "|", b)

# 연산1

## 사칙연산

In [ ]:
print(1+2)

In [ ]:
print(1-2)

In [ ]:
print(1*2)

In [ ]:
print(1/2)

## 나누기 관련

In [ ]:
print(5/2) # 나누기

In [ ]:
print(5//2) # 몫

In [ ]:
print(5%2) # 나머지

## 괄호로 연산순서 조정

In [ ]:
print(1+2*3-4)

In [ ]:
print((1+2)*(3-4))

## 비교연산자
결과 값은 `True` 또는 `False`로 나옴

In [ ]:
# 같다 (==)
print(1==2)

In [ ]:
# 다르다 (!=)
print(1!=2)

In [ ]:
# 왼쪽이 오른쪽보다  크다(>)  / 왼쪽이 오른쪽보다 크거나 작다 (>=)
print(1>2)
print(1>=2)

In [ ]:
# # 왼쪽이 오른쪽보다  작다(<)  / 왼쪽이 오른쪽보다 작거나 작다 (<=)
print(1<2)
print(1<=2)
print(2<2)
print(2<=2)

## 논리연산자

`and` : 둘다 `True` 일때만 `True`, 그 외에는 `False`  
`or` : 둘 중 하나만 `True`여도 `True`, 둘다 `False` 이면 `False`

|left|expression|right|result|
|--|--|--|--|
|True|and|True|**True**|
|True|and|False|**False**|
|False|and|True|**False**|
|False|and|False|**False**|
|True|or|True|**True**|
|True|or|False|**True**|
|False|or|True|**True**|
|False|or|False|**False**|

In [ ]:
print(True and True)

In [ ]:
print(True and False)

In [ ]:
print(True or False)

In [ ]:
print(False or False)

# type

In [ ]:
# str
a = "hello"
type(a)

In [ ]:
# int
a = 1
type(a)

In [ ]:
# float
a = 1.5
type(a)

In [ ]:
# bool
a = True
type(a)

In [ ]:
# 형변환
a = 1.6
b = int(a)
print(a, type(a), b, type(b))

In [ ]:
# 반올림
a = 1.6
b = round(a)
print(b)

In [ ]:
# str과 str을 더하면?
a = "1"
b = "1"
print(a+b)

In [ ]:
# int와 int를 더하면?
print(int(a)+int(a))

# 함수

In [ ]:

def func(a, b):
    return a + b

c = func(1,2)
d = func(3,4)
print(c)
print(d)
print(func(5,6))

## math 라이브러리 함수 활용

In [ ]:
import math

print(math.ceil(1.6)) # 올림
print(math.floor(1.6)) # 내림

In [ ]:
import math
print(math.pow(2,3)) # 거듭제곱(power)

In [ ]:
print(math.pow(3,4))
print(math.pow(2,10))

In [ ]:
print(math.sqrt(2)) # 제곱근

In [ ]:
degree = 60
radian = math.radians(degree)
print(math.sin(radian))

In [ ]:
help(math.pow)

In [ ]:
help(math.cos)

# 조건문

조건에 따라 다른 명령어를 수행하도록 하는 방법

In [ ]:
a = 5
b = 3
if a > b:
    print("a is greater than b")
elif a < b:
    print("a is less than b")
else:
    print("a is the same as b")

In [ ]:
# input()  <- 키보드로 부터 입력받기
c = input()
print("input value is ", c)
# c가 1 이면 a+b
# c가 2 이면 a-b
# c가 3 이면 a*b 를 출력하는 코드를 작성해보세요
if c==1:
    print(a+b)
elif c==2:
    # 코드 작성
elif #코드작성
    # 코드 작성

# 반복문 for

for 반복문은 `in` 뒤에 존재하는 `문자열`, `리스트`, `튜플`을  
순서대로 순회하면서 하나씩 하나씩 에 넣어줍니다.

In [ ]:
total = 0
for i in range(10):
    print(i)
    total += i
print("total:", total)

In [ ]:
names = ["Tom", "David", "Elsa"]
for name in names:
    print("Hello", name)

In [ ]:
# enumerate: index를 포함하기
names = ["Tom", "David", "Elsa"]
for idx, name in enumerate(names):
    print(idx, name)

In [ ]:
# break - 루프 중간에 끝내기
total = 0
for i in range(10):
    total += i
    print(i, total)
    if total >= 10:
        break

In [ ]:
# 문제
# total = 1+2+3+... + N 일때,
# total이  20보다 커지는 가장 작은 N을 찾기 위한 프로그램을 작성해보세요
total = 0
for i in range(10):
    total += i
    print(i, total)
    # if문 삽입

In [ ]:
# continue - 루프에서 아래코드를 실행하지 않고 건너뛰기
# 1부터 10까지 짝수의 합만 구하는 프로그램

# 리스트 (배열)

여러가지 값들의 모음을 저장

In [ ]:
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
len(a)

In [ ]:
a[0]

In [ ]:
a[8]

In [ ]:
a[-2]

In [ ]:
a[10]  # error

In [ ]:
a[:2]

In [ ]:
a[8:]

In [ ]:
a[-2]

In [ ]:
a[-2:]

In [ ]:
a[:-2]

In [ ]:
# 배열을 만드는 다양한 방법 중 하나
# range(N): 0 ~ N-1 까지의 값을 만들어줌
a = list(range(10))

In [ ]:
a

In [ ]:
a[0] = 100  # replace
print(a)

In [ ]:
del a[0]   # delete
print(a)
print(len(a))

In [ ]:
a.append(200) # append 
print(a)

In [ ]:
a = list(range(10))
a.sort(reverse=True)
print(a)

In [ ]:
a.sort()
print(a)

In [ ]:
min(a)

In [ ]:
max(a)

In [ ]:
sum(a)

### 정올
http://www.jungol.co.kr/bbs/board.php?bo_table=pbank&sca=py


#### 781 : 리스트 1 - 자가진단 1

http://www.jungol.co.kr/bbs/board.php?bo_table=pbank&wr_id=4131&sca=py50

문제
```
리스트를 만들고, 출력하여 출력 예와 같이 나오도록 하는 프로그램을 작성하라.
```

출력예
```
['Salad', 'Pizza', 'Chicken', 'Soup']
```

In [ ]:
mylist = ['Salad', 'Pizza', 'Chicken', 'Soup']
print(mylist)

#### 782 : 리스트 1 - 자가진단 2
http://www.jungol.co.kr/bbs/board.php?bo_table=pbank&wr_id=4132&sca=py50

문제
```
'Python', 'is', 'exciting' 세 문자열로 이루어진 리스트를 만들고, 다음과 같이 출력하는 프로그램을 작성하라.
```

출력예
```
Python is exciting
```

In [ ]:
mylist = ['Python', 'is', 'exciting']
print(" ".join(mylist))

#### 783 : 리스트 1 - 자가진단 3
http://www.jungol.co.kr/bbs/board.php?bo_table=pbank&wr_id=4133&sca=py50

문제
```
세 개의 리스트를 만들어 아래 순서대로 합병하여 출력하는 프로그램을 작성하라.
[첫 번째 리스트][세 번째 리스트][세 번째 리스트][세 번째 리스트][두 번째 리스트]
첫 번째 리스트:[1, 2, 3]
두 번째 리스트:[2, 4, 6]
세 번째 리스트:[3, 6, 9] 
```

출력예
```
[1, 2, 3, 3, 6, 9, 3, 6, 9, 3, 6, 9, 2, 4, 6]
```

In [ ]:
list1 = [1, 2, 3]
list2 = [2, 4, 6]
list3 = [3, 6, 9]
mylist = []
mylist.extend(list1)
mylist.extend(list3)
mylist.extend(list3)
mylist.extend(list3)
mylist.extend(list2)
print(mylist)

In [ ]:
lists = [
    [1, 2, 3],
    [2, 4, 6],
    [3, 6, 9],
]
mylist = []
mylist.extend(lists[0])
mylist.extend(lists[2])
mylist.extend(lists[2])
mylist.extend(lists[2])
mylist.extend(lists[1])
print(mylist)

In [ ]:
lists = [
    [1, 2, 3],
    [2, 4, 6],
    [3, 6, 9],
]
mylist = []
for idx in [0,2,2,2,1]:
  mylist.extend(lists[idx])
print(mylist)

#### 785 : 리스트 1 - 자가진단 5
http://www.jungol.co.kr/bbs/board.php?bo_table=pbank&wr_id=4135&sca=py50

문제
```
문자열을 하나 입력받아서 그 문자열의 맨 앞에 있는 문자를 출력한 후, 그 문자열을 리스트로 변환한 후에 해당 리스트의 앞에서부터 세 번째 문자를 출력하는 프로그램을 작성하라. 

(입력되는 문자열은 항상 길이가 3 이상이라고 가정한다.)
```

In [ ]:
word = input()
print(word[0])
mylist =list(word)
print(mylist[2])

#### 788 : 리스트 1 - 자가진단 6-3
http://www.jungol.co.kr/bbs/board.php?bo_table=pbank&wr_id=4138&sca=py50

문제
```
1부터 15까지의 정수가 들어있는 리스트를 생성하고, 정수 하나를 입력받아 그 배수들만으로 구성된 부분 리스트를 출력하는 프로그램을 작성하시오.​ 
```

입력예
```
3
```

출력예
```
[3, 6, 9, 12, 15]
```

In [ ]:
mylist = [i for i in range(1,16)]
q = int(input())
answer = list()
for i in mylist:
  if i % q == 0:
    answer.append(i)
print(answer)

## str 도 문자의 리스트입니다.

In [ ]:
sentence = "hello world"
print(sentence[0])

In [ ]:
print(sentence[1:5])

In [ ]:
print(sentence[6:])

In [ ]:
print(sentence[:2])

In [ ]:
print(sentence[-5:])

# dictionary

- 딕셔너리는 순서에 상관없이 데이터를 담을 수 있는 구조입니다.
- 각 데이터는 `key`를 가지고 있고, 그 `key`로 접근합니다.
- a = {"name1":data1, "name2":data2, ...} 으로 생성합니다.
- a가 담고 있는 각 데이터는 a["name1"], a["name2"], ... 로 접근합니다.
- 담을 수 있는 데이터는 리스트와 같고, 접근 방법만 차이가 있습니다.

In [ ]:
# 생성
# key: "tom", "john", "jessy" // value: 45, 30, 11
d = {"tom":45, "john":30, "jessy":11}

In [ ]:
# 조회 (key를 사용)
print(d["tom"])

In [ ]:
# 추가
d["woody"] = 15
print(d)

In [ ]:
# dictionalry의 key만 추출하기
dic = {"tom":45, "john":30, "jessy":11}
for k in dic:    # for k in dic.keys(): 와 같음
    print(k)

In [ ]:
# dictionary의 value만 추출하기
for v in dic.values():
    print(v)

In [ ]:
# dictionary의 key, value를 추출하기
for k, v in dic.items():
    print(k,v)

# class

여러개의 변수/함수를 묶어주기 위한 용도

In [ ]:
from dataclasses import dataclass

@dataclass
class Student:
    
    name: str
    age: int
    height: float

@dataclass
class Teacher:

    name: str
    subject: str

tom = Student(name="Tom", age=10, height=174.2)
david = Teacher(name="David", subject="Computer")

print(tom)
print(david)

In [ ]:
print(tom.name, tom.age, tom.height)
print(type(tom.name), type(tom.age), type(tom.height), type(tom))

# F-String
변수값을 특정 포멧에 맞추어 쉽게 표시하기 위한 방법

In [ ]:
students = [Student("Tom", 9, 174.234), Student("Jessy", 11, 181.2)]

In [ ]:
for student in students:
    print(student.name, student.age, student.height)

In [ ]:
# f"" 안에 출력값을 넣어줌
# 변수 값을 출력하고 싶은 경우에는 {} 안에 넣음
# 특정 포멧으로 출력하고 싶은 경우 : 뒤에 포멧을 입력
for student in students:
    print(f"{student.name:5s}, {student.age:02d}, {student.height:.2f}")

## 문제풀기

문제를 풀며 파이썬 배우기
https://www.acmicpc.net/workbook/view/459

### 예제문제

#### 문제
두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

#### 입력
첫째 줄에 A와 B가 주어진다. (0 < A, B < 10)

#### 출력
첫째 줄에 A+B를 출력한다.

#### 예제 입력 1 
```
1 2
```
#### 예제 출력 1 
```
3
```

In [ ]:
a, b = input().strip().split()
a = int(a)
b = int(b)
# print("a:", a, "b", b)
print(a+b)

Python
```python
a, b = input().strip().split()
a = int(a)
b = int(b)
print(a+b)
```

C언어
```c
#include <stdio.h>

int main() {
   int a;
   int b;
   scanf("%d %d", &a, &b);
   printf("%d\n", (a+b));
}
```

Java 언어
```java
import java.util.Scanner;

class Main {
  public static void main(String[] args) {
    Scanner scanner = new Scanner(System.in);
    int a = scanner.nextInt();
    int b = scanner.nextInt();
    System.out.println(a+b);
  }
}
```

## graph 그리기

In [ ]:
import matplotlib.pyplot as plt

## 1차함수 그리기

In [ ]:
def f(x):
  a = 1
  b = 1
  y = a * x + b

  return y

In [ ]:
x_list = [i/10 for i in range(-100,100+1)]
print(x_list)

In [ ]:
y_list = []
for x in x_list:
  y_list.append(f(x))
print(y_list)

In [ ]:
plt.plot(x_list, y_list)

## 2차 함수 그리기

In [ ]:
import math
def f2(x):
  y = 2*math.pow(x,2) - 4*x + 7
  return y
y_list = []
for x in x_list:
  y_list.append(f2(x))
plt.plot(x_list, y_list)

## 3차 함수 그리기

In [ ]:
import math
def f2(x):
  y = 2*math.pow(x,3) - 2*math.pow(x,2) + 2*x + 7
  return y

y_list = []
for x in x_list:
  y_list.append(f2(x))
plt.plot(x_list, y_list)

## sin 함수 그리기

In [ ]:
import math
def f1(x):
    y = math.sin(x)
    return y
y_list = []
for x in x_list:
  y_list.append(f1(x))
plt.plot(x_list, y_list)

In [ ]:
import math
def f1(x):
    y = math.sin(x) + 2*math.sin(2*x) + 2*math.cos(3*x)
    return y
y_list = []
for x in x_list:
  y_list.append(f1(x))
plt.plot(x_list, y_list)

## 원그리기

In [ ]:
import math
def f2(x):
  y = math.sqrt(100-math.pow(x,2))
  return y

y_list = []
for x in x_list:
  y_list.append(f2(x))
plt.plot(x_list, y_list)

In [ ]:
y2_list = []
x2_list = []
for x in x_list:
  x2_list.append(x)
  y2_list.append(f2(x))
for x in x_list[::-1]:
  x2_list.append(x)
  y2_list.append(-f2(x))

plt.figure(figsize=(8,8))
plt.plot(x2_list, y2_list)